body {
  font-family: Poppins, sans-serif;
  background-image: linear-gradient(
    135deg,
    #f1e5ee 10%,
    #d939cd 55%,
    #f1e5ee 100%
  );
}

.container {
  max-width: 90%;
  margin: 0 auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 64px 0;
}

.navbar .left {
  font-size: 32px;
  font-weight: bold;
}

.navbar .right {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .right a {
  text-decoration: none;
  color: black;
}
.navbar .right a:hover,
.mobileNav a:hover {
  text-decoration: underline;
}

.navbar .right img {
  width: 24px;
  height: 24px;
}

.navbar .right img:hover,
.mobileNav img:hover {
  transform: scale(1.2);
}

.navbar .hamburger {
  display: none;
}

.navbar .hamburger:hover {
  cursor: pointer;
}

.navbar .bar1,
.bar2,
.bar3 {
  background-color: black;
  width: 36px;
  height: 4px;
  margin: 3px;
  border-radius: 10px;
}

.mobileNav {
  width: 80px;
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  right: -150px;
  top: 0;
  background-image: linear-gradient(#fb9ef4, #f1e5ee);
  padding: 10px;
  transition: transform 0.4s;
}
.mobileNav img {
  width: 24px;
}

.openDrawer {
  transform: translateX(-150px);
}

.mobileNav a {
  text-decoration: none;
  color: black;
  margin: 16px 0;
}

.project-grid {
  display: grid;
  grid-template-areas:
    "foam foam insta"
    "foam foam traveler"
    "astro cube traveler"
    "cup alphabet alphabet"
    "cup alphabet alphabet"
    "eth eth dimensional"
    "eth eth dimensional";
  gap: 16px;
  padding: 16px;
  width: 100%;
  background: rgb(0, 212, 255);
  background: linear-gradient(
    325deg,
    rgba(0, 212, 255, 1) 5%,
    rgba(9, 9, 121, 1) 10%,
    rgba(0, 212, 255, 1) 15%,
    rgba(9, 9, 121, 1) 20%,
    rgba(0, 212, 255, 1) 25%,
    rgba(9, 9, 121, 1) 30%,
    rgba(0, 212, 255, 1) 35%,
    rgba(9, 9, 121, 1) 40%,
    rgba(9, 9, 121, 1) 45%,
    rgba(0, 212, 255, 1) 50%,
    rgba(9, 9, 121, 1) 55%,
    rgba(0, 212, 255, 1) 60%,
    rgba(9, 9, 121, 1) 65%,
    rgba(0, 212, 255, 1) 70%,
    rgba(9, 9, 121, 1) 75%,
    rgba(0, 212, 255, 1) 80%,
    rgba(9, 9, 121, 1) 85%,
    rgba(0, 212, 255, 1) 90%,
    rgba(9, 9, 121, 1) 95%,
    rgba(0, 212, 255, 1) 100%
  );
}

#eth {
  grid-area: eth;
}

#alphabet {
  grid-area: alphabet;
}
#traveler {
  grid-area: traveler;
}
#astro {
  grid-area: astro;
}
#cube {
  grid-area: cube;
}
#cup {
  grid-area: cup;
}
#insta {
  grid-area: insta;
}
#foam {
  grid-area: foam;
}
#dimensional {
  grid-area: dimensional;
}

.project {
  position: relative;
}
.project img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.project .overlay {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 2px;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.project .overlay:hover {
  opacity: 1;
  cursor: pointer;
}

.overlay.color {
  color: rgba(229, 226, 226, 0.802);
}

.footer {
  font-size: 23px;
  text-align: center;
  padding: 64px;
}

@media only screen and (max-width: 1000px) {
  .container {
    max-width: 100%;
  }
  .project-grid {
    display: grid;
    grid-template-areas:
      "foam foam"
      "insta traveler"
      "astro cube "
      "alphabet alphabet"
      "cup eth"
      "dimensional dimensional";
  }
  .project .overlay {
    font-size: 24px;
  }
}
@media only screen and (max-width: 700px) {
  .navbar {
    padding: 16px 24px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    background-image: linear-gradient(
      135deg,
      #f1e5ee 10%,
      #f1e5ee 70%,
      #ed80e4 100%
    );
  }
  .navbar .right {
    display: none;
  }
  .project-grid {
    display: grid;
    grid-template-areas:
      "foam foam"
      "insta traveler"
      "astro cube "
      "alphabet alphabet"
      "cup eth"
      "dimensional dimensional";
    padding: 5px;
    gap: 5px;
    margin-top: 18%;
    border-radius: 5px;
  }
  .project .overlay {
    font-size: 24px;
  }

  .navbar .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.animateBar1 {
  animation: flipBar1 0.5s forwards;
}
.animateBar2 {
  animation: fadeBar2 0.5s forwards;
}
.animateBar3 {
  animation: flipBar3 0.5s forwards;
}
@keyframes flipBar1 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(45deg) translate(4px, 10px);
  }
}

@keyframes fadeBar2 {
  from {
    transform: scaleX(1);
    opacity: 1;
  }
  to {
    transform: scaleX(0);
    opacity: 0;
  }
}

@keyframes flipBar3 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-45deg) translate(4px, -10px);
  }
}
